@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Quicksand:wght@300;400;500&family=Sacramento&display=swap');

body {
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    color: #ffffff;
}

h1 {
    font-size: 70px;
    text-align: center;
    margin-top: 15%;
    color: #ffffff;
    font-family: Agbalumo, serif;
    font-weight: 400;
}

span {
    font-size: 100px;
}

p {
    text-align: center;
    margin-top: -30px;
    letter-spacing: 15px;
    text-transform: uppercase;
}

button {
    margin: auto;
    display: block;
}

.btn {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0.6em;
    padding: 0.7em 1.5em;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover {
    color: gray;
    outline: 0;
}

.loc {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.loc:hover {
    box-shadow: 0 0 40px 40px #1f1f1f inset;
}

@media screen and (max-width: 800px) {
    body {
        background: linear-gradient(90deg, #2FC388 0%, #6C337D 100%);
    }
    h1 {
        font-size: 40px;
    }
    span {
        font-size: 60px;
    }
    p {
        font-size: 10px;
        text-align: center;
        margin-top: -30px;
        letter-spacing: 8px;
        text-transform: uppercase;
    }
}

