* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background: #d5d5d5;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-top {
    height: 500px;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
}

.mockup {
    padding-top: 100px;
    height: 450px;
}

.form {
    width: 100%;
}

.flex-column {
    flex-direction: column;
}

.form-section {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
    width: 75%;
}

.form-section h1 {
    font-size: 40px;
    margin: 25px 0;
    color: #343333;
    text-transform: capitalize;
}

input {
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 8px;
    border: 1px solid #a7a7a7;
    margin-bottom: 15px;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-2 input {
    width: 38%;
}

.btn {
    width: 100%;
    padding: 10px 0px;
    font-size: 20px;
    color: #fff;
    background-color: #f59e2e;
    border: none;
    outline: none;
    margin-bottom: 15px;
    border-radius: 8px;
    margin-top: 10px;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn-facebook {
    background-color: #354c8d;
}

.btn-twitter {
    background-color: #009fe9;
}

@media screen and (max-width: 1200px) {
    main {
        flex-direction: column;
        grid-template-columns: 1fr;
    }

    .image-top {
        height: 300px;
    }

    .form-section {
        width: 100%;
        padding: 0 30px;
        margin-top: 0px;
    }  

    .row {
        flex-direction: column;
        align-items: center;
    }
    
    .row-2 input, input {
        width: 80%;
    }

    .mockup {
        /* display: none; */
        padding-top: 0;
        height: 300px;
        justify-content: center;
        align-items: center;
        margin-top: 30px;   
    }

    .btn-facebook {
        margin-bottom: 0px;
        background-color: #354c8d;
    }

}