/* * {
    margin: 0;
    padding: 0;
    outline: 0;
} */
body {
    background-image: url("../images/bg.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0 3%;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    height: 20vh;
}

nav .nav-menu-icon {
    display: none;
}

nav .nav-items {
    display: flex;
    flex: 2;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

nav .brand-img {
    margin: auto;
    flex: 1;
}

nav .nav-logo {
    display: block;
}

nav .brand-img img {
    height: 80px;
}

nav .nav-button {
    border: none;
    background-color: #E74292;
    padding: 5px 20px;
    border-radius: 0.6em;
    cursor: pointer;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 80vh;
}

.col {
    display: flex;
    flex: 0.5;
    min-height: auto;
}

.col-2 {
    overflow: hidden;
}

.phone-img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 80vh;
}

.col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
}

.col-1 p {
    font-size: 25px;
}

.col-1 h1 {
    font-size: 75px;
    margin: 20px 0;
}

.store-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.store-images img {
    height: 60px;
}

@media screen and (max-width: 1230px) {
    body {
        height: 80vh;
    }
    .phone-img {
        height: 40%;
    }
    nav .nav-items {
        display: none;
    }
    nav .nav-menu-icon {
        display: block;
        margin: auto;
    }
    nav .nav-menu-icon i {
        color: #fff;
    }
    .container {
        display: flex;
        flex: 0.5;
        flex-direction: column;
        height: 60vh;
    }
    .col {
        align-items: center;
        text-align: center;
        display: flex;
        flex: 0.5;
        min-height: auto;
    }
    .col-1 p {
        font-size: 15px;
    }
    .col-1 h1 {
        font-size: 40px;
        margin: 20px 0;
    }
    .store-images {
        display: flex;
        flex-direction: row;
        width: 70%;
    }
    .store-images img {
        height: 45px;
    }
}