@import url("https://fonts.googleapis.com/css2?family=Baskervville&family=Great+Vibes&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Kannada:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --themeColor: #a094d4;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background: var(--themeColor);
  width: 100vw;
  overflow-x: hidden;
}

.container {
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #3a3a3f;
  font-size: 60px;
  font-family: "Great Vibes", cursive;
}

.jodi-img {
  width: 60%;
}

.topleft-img {
  position: absolute;
  top: -3px;
  left: -6px;
  width: 30%;
}

.bottomright-img {
  transform: rotate(-90deg);
  position: absolute;
  top: -3px;
  right: 0px;
  width: 30%;
}

.text-img {
  margin-top: -100px;
}

.contents {
  background: #fff;
  border-radius: 4px;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 100px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contents p {
  color: #3a3a3f;
  text-align: center;
}

.end-text {
  margin-left: 10px;
}

.wedding-location {
  font-size: 450%;
  margin-top: 50px;
  font-family: "Great Vibes", cursive;
}

.location {
  font-size: 140%;
  margin-top: 20px;
}

.req {
  font-size: 140%;
  margin-top: 30px;
}

.gmaps {
  width: 95%;
  margin-top: 80px;
  margin-bottom: 10px;
  border-radius: 10px;
  z-index: 1;
}

/* name-date */
.names {
  color: #3a3a3f;
  font-size: 150px;
  font-family: "Great Vibes", cursive;
}

.and-name-2 {
  display: flex;
  transform: translateY(-20%);
}

.and-name-2 .and {
  margin-top: 20px;
  font-size: 25%;
  font-family: "Baskervville-Regular", "Baskervville";
}

.dates {
  font-family: "Baskervville-Regular", "Baskervville";
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
}

.day-date-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.date {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 300%;
}

.year {
  font-size: 130%;
}

.day, .time {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #3a3a3f;
  border-bottom: 1px solid #3a3a3f;
}

.day {
  padding-left: 20px;
}

.time {
  padding-right: 10px;
}

.logo {
  background: #f1f0f0;
  height: 60px;
}

.footer {
  background: #fff;
  text-decoration: none;
  width: 100vw;
  font-size: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Switch */
.button {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1;
  bottom: 50px;
  right: 5px;
  width: 74px;
  height: 36px;
  overflow: hidden;
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 0.2em;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  transition: 0.3s ease all;
  z-index: 1;
}

#button-13 .knobs:before,
#button-13 .knobs:after,
#button-13 .knobs span {
  position: absolute;
  top: 4px;
  width: 20px;
  height: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 2px;
  transition: 0.3s ease all;
}

#button-13 .knobs:before,
#button-13 .knobs:after {
  color: #4e4e4e;
  z-index: 1;
}

#button-13 .knobs:before {
  content: "ಕ";
  left: 4px;
}

#button-13 .knobs:after {
  content: "EN";
  right: 4px;
}

#button-13 .knobs span {
  width: 25px;
  left: 37px;
  background-color: #a094d4;
  z-index: 2;
}

#button-13 .checkbox:checked + .knobs span {
  left: 4px;
}

/* language */
.kn-text {
  font-family: 'Noto Sans Kannada';
  display: none;
}

.heading.kn-text {
  font-size: 40px;
  font-weight: 500;
}

.name-1.kn-text, .name-2.kn-text {
  font-size: 120px;
  font-weight: 400;
}

.and.kn-text {
  font-family: 'Noto Sans Kannada';
  font-size: 40px;
  font-weight: 300;
}

@media screen and (max-width: 1230px) {
  .contents {
    width: 90%;
    font-size: 5px;
  }

  .heading {
    font-size: 25px;
  }

  .text-img {
    margin-top: -30px;
  }

  .topleft-img {
    width: 45%;
  }

  .bottomright-img {
    width: 45%;
  }

  .text-img {
    width: 60%;
  }

  .wedding-location {
    margin-top: 20px;
  }

  .location {
    margin-top: 10px;
  }

  .req {
    margin-top: 10px;
  }

  .gmaps {
    margin-top: 30px;
    height: 200px;
  }

  .names {
    font-size: 60px;
  }

  .dates {
    font-size: 12px;
    letter-spacing: 3px;
  }

  .day {
    padding-left: 10px;
  }
  
  .time {
    padding-right: 8px;
  }

  .footer {
    font-size: 50%;
  }

  .heading.kn-text {
    font-size: 20px;
  }
  
  .name-1.kn-text {
    margin-top: 20px;
  }

  .name-1.kn-text, .name-2.kn-text {
    font-size: 50px;
  }
  
  .and.kn-text {
    font-size: 20px;
    font-weight: 400;
  }
}

